*{margin: 0; padding: 0}

body{
    background:#007284;
}

.wrap{
    background: #e0e0e0;
    width: 400px;
    border-radius:6px;
    margin: 100px auto auto auto;
    padding:0px 0px 70px 0px;
    border: #95212c 4px solid;
}

h1{
    font-size:1.5em;
    color:#525252;
    margin: 10px;
    text-align: center;
}

p{
    text-align: center;
    margin: 10px;
}

.login{
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    margin: 10px 10px 10px 70px;
}

.password{
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    margin: 10px 10px 10px 70px;
}

.btn{
    background:#82b440;
    width:125px;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;

    margin-left: 140px;
    margin-top:10px;
    margin-bottom: 20px;
    float:left;
}

.btn:hover{
    background:#a3ca61;
}

.container{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    border-radius:6px;
    border: #95212c 4px solid;
}
h2{
    font-size:1.2em;
    margin: 10px;
    text-align: center;
}

table{
    width: 800px;
    margin: 0;
    background: #e0e0e0;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border:#95212c 1px solid;
}

.links{
    text-align: center;
}
a:hover{
    background: #27ae60;
}

.param{
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
}

.addbtn{
    background:#82b440;
    width:125px;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
}
.addbtn:hover{
    background:#a3ca61;
}
